@{
    ViewData["Title"] = "Página inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>Sistema referente a um Consultório Odontológico</p>
    <h3>Grupo</h3>
    <tr>
        <td>
            Marcos Vinícius de Castro Oliveira - 21157040
        </td>
        <br />
        <td>
            Gustavo Souza Duarte da Silva - 21157027
        </td>
        <br />
        <td>
            Daniel Campos Peralba - 21157001
        </td>
    </tr>
</div>
